spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://3.36.112.78:3306/marizoo?
    username:  # MySQL DB Username
    password:  # MySQL DB password

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher # swagger

cloud:
  aws:
    credentials:
      access-key: # 이성복한테 문의
      secret-key: # 이성복한테 문의
    s3:
      bucket: marizoo
    region:
      static: ap-northeast-2
    stack:
      auto: false
  server:
    port: 5000
    ssl:
      enabled: false

  OPENVIDU_URL: https://i8b208.p.ssafy.io:8445/
  OPENVIDU_SECRET: MY_SECRET
