/* NanumSquareNeo-Variable font */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('./styles/fonts/NanumSquareNeo-Variable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Noto-sans-kr font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

